<header>
    <nav>
        <h1>The Tech Blog</h1>
        <div id="nav-list">
            <button id="home-btn">Home</button>
            <button id="logout-btn">Logout</button>
        </div>
    </nav>
</header>