<header>
    <nav>
        <h1>The Tech Blog</h1>
        <div id="nav-list">
            <button id="home-btn">Home</button>
            {{#if loggedIn}}
            <button id="dashboard-btn">Dashboard</button>
            <button id="logout-btn">Logout</button>
            {{/if}}
        </div>
    </nav>
</header>