<article>
    <div class="post-container">
    <div class="post-header">{{title}}</div>
    <div class="post-content">{{content}}</div>
    <div class="post-info">Posted by {{user_id}} on {{createdAt}}</div>
    </div>
</article>