{{> nav }}
<h1>Create New Post</h1>
<form id="post-form">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    <label for="content">Content:</label>
    <input type="text" id="content" name="content">
    <button type="submit">Create Post</button>
</form>
<script src="/javascript/create-post.js"></script>
<script src="/javascript/dashboard.js"></script>
<script src="/javascript/logout.js"></script>