{{> dashboard-nav }}
<h1>Dashboard</h1>
{{#each posts as |post|}}
{{> dashboard-posts }}
{{/each}}
<button id="post-btn">Create New Post</button>
<script src="/javascript/logout.js"></script>
<script src="/javascript/post.js"></script>