{{> nav }}
<h1>Homepage</h1>
{{#each posts as |post|}}
{{> posts}}
{{/each}}
{{#if loggedIn}}
<script src="/javascript/dashboard.js"></script>
<script src="/javascript/logout.js"></script>
{{else}}
<script src="/javascript/login.js"></script>
{{/if}}