{{> nav }}
<h1 id="header">Login</h1>
<form id="login-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit" class="form-btn">Login</button>
</form>
<div id="no-account">
    <span>Don't have an account? Click here to sign up!</span>
    <button id="signup-btn">Sign Up</button>
</div>

<script src="/javascript/login-page.js"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}