{{> nav }}
<h1>Signup</h1>
<form id="signup-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit">Sign Up</button>
</form>