{{> nav }}
<h1>Sign Up</h1>
<form id="signup-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit">Sign Up</button>
</form>
<div>
    <span>Already have an account? Click here to login!</span>
    <button id="login-btn2">Login</button>
</div>

<script src="/javascript/signup.js"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}