{{> nav }}
<h1 id="header">Sign up</h1>
<form id="signup-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit" class="form-btn">Sign Up</button>
</form>
<div id="no-account">
    <span>Already have an account? Click here to login!</span>
    <button id="login-btn">Login</button>
</div>

<script src="/javascript/signup-page.js"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}