{{> nav }}
<article>
    <div class="post-container">
    <div class="post-title">{{post.title}}</div>
    <div class="post-content">{{post.content}}</div>
    <div class="post-info">Posted by {{post.user.username}} on {{post.createdAt}}</div>
    </div>
</article>